<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<section class="mt-4 text-center">
    <h1>Upomínková Aplikace U-O-Me</h1>
    <p>Tato databáze existuje pro účel vyrovnání <strong>Nám</strong> nezaplacených faktur.</p>
</section>

<section class="mt-4">
    <h4>Kdo jsme:</h4>
    <div class="card">
        <div class="card-header">Firma ta-a-ta s.r.o.</div>
        <div class="card-body">
            <p class="card-text">
                <i class="bi bi-geo-alt me-1"></i> Na Poli 4, Zapadákov 111 11 <br>
                <i class="bi bi-person me-1"></i> Karel Karlovič <br>
                <i class="bi bi-envelope-at me-1"></i> karel.karlovic@uome.com.cz <br>
            </p>
            <a href="https://example.com">
                <i class="bi bi-globe me-1"></i> Firma ta-a-ta
            </a>
        </div>
    </div>
</section>

<section class="mt-4">
    <h4>Časté dotazy:</h4>
    <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>Odkud máme Vaše kontaktní údaje?</h5>
            <p>Vaše údaje máme, protože mezi námi proběhla finanční transakce (nejčastěji  nákup stavebního materiálu) a faktura z Vaší strany nebyla včas zaplacena.</p>
        </li>
          <li class="list-group-item">
            <h5>Kdy smažete mé kontatkní údaje v této databázi?</h5>
            <p>Tato databáze je pouze náš interní nástroj pro správu faktur <strong>po splatnosti</strong>. Po zaplacení Vaše údaje z této databáze rádi vymažeme.</p>
        </li>
          <li class="list-group-item">
            <h5>Jaké všechny údaje o mě máte?</h5>
            <p>Máme o Vás samozřejmě údaje, které bylo potřeba pro předcházející obchodní styk. V této databázi však jsou uloženy pouze informace dotýkající se včas nezaplacené faktury.</p>
        </li>
          <li class="list-group-item">
            <h5>Vymáháme i pohledávky vůči jiným subjektům?</h5>
            <p>Ne. Tento nástroj existuje pouze pro pohledávky vůči nám.</p>
        </li>
    </ul>
</section>
