.card
  .card-header Firma ta-a-ta s.r.o.
  .card-body
    %p.card-text
      %i.bi.bi-geo-alt.me-1
      %span Na Poli 4, Zapadákov 111 11
      %br
      %i.bi.bi-person.me-1
      %span Karel Karlovič
      %br
      %i.bi.bi-envelope-at.me-1
      %span karel.karlovic@uome.com.cz
      %br
    %a{ href: 'https://example.com' }
      %i.bi.bi-globe.me-1
      %span Firma ta-a-ta
