<section class="mt-4 text-center">
    <h1>Upomínková Aplikace U-O-Me</h1>
    <p>Tato databáze existuje pro účel vyrovnání <strong>Nám</strong> nezaplacených faktur.</p>
</section>

<section class="mt-4">
    <h4>Kdo jsme:</h4>
    <%= render 'our_company_card' %>
</section>

<section class="mt-4">
    <h4>Časté dotazy:</h4>
    <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>Odkud máme Vaše kontaktní údaje?</h5>
            <p>Vaše údaje máme, protože mezi námi proběhla finanční transakce (nejčastěji  nákup stavebního materiálu) a faktura z Vaší strany nebyla včas zaplacena.</p>
        </li>
          <li class="list-group-item">
            <h5>Kdy smažete mé kontatkní údaje v této databázi?</h5>
            <p>Tato databáze je pouze náš interní nástroj pro správu faktur <strong>po splatnosti</strong>. Po zaplacení Vaše údaje z této databáze rádi vymažeme.</p>
        </li>
          <li class="list-group-item">
            <h5>Jaké všechny údaje o mě máte?</h5>
            <p>Máme o Vás samozřejmě údaje, které bylo potřeba pro předcházející obchodní styk. V této databázi však jsou uloženy pouze informace dotýkající se včas nezaplacené faktury.</p>
        </li>
          <li class="list-group-item">
            <h5>Vymáháme i pohledávky vůči jiným subjektům?</h5>
            <p>Ne. Tento nástroj existuje pouze pro pohledávky vůči nám.</p>
        </li>
    </ul>
</section>
